node_modules
.idea/vcs.xml
.idea/todo_app_react.iml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/9/2/923703ced91ac38943d37930d9d27a7ebe8f01ad
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
.idea/sonarlint/issuestore/1/e/1e43fa63aecd2127be034b3fb9d4caa172275714
.idea/modules.xml
.idea/misc.xml
.idea/google-java-format.xml
package-lock.json
